//Reset
*{
    max-width: 1440px;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

body{
    background-image: url("../images/bg-curvy-desktop.svg");
    background-color: hsl(217, 28%, 15%);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: 130% auto;
}
h1 {
    font-family: Raleway;
    font-size: 1.5rem;
    text-align: center;
}

h2{
    font-size: 1.2rem;
}

h3{
    font-family: Raleway;
    font-size: 1rem;
}


//Fonts
//font-family: 'Open Sans', sans-serif; 
//font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
