@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  max-width: 1440px;
  color: white;
  font-size: 14px;
}

body {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-color: #1c2431;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: 130% auto;
}

h1 {
  font-family: Raleway;
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 95%;
}

header img {
  max-width: 100px;
  height: auto;
}

header li {
  margin-left: 20px;
}

header a {
  text-decoration: none;
}

.nav-div {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get-started-block {
  width: 70%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway;
}

.get-started-block img {
  max-width: 300px;
}

.get-started-block h1 {
  max-width: 400px;
}

.get-started-block p {
  font-size: 0.7rem;
  text-align: center;
  width: 60%;
  max-width: 380px;
}

.get-started-block button {
  font-family: Raleway;
  font-size: 0.8rem;
  color: white;
  margin-top: 10px;
  padding: 10px 50px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to bottom right, #65e2d9, #339ecc);
}

.options-block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options-container {
  width: 30%;
  min-width: 200px;
  margin: 20px;
}

.options-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 15%;
}

.options-container p, .options-container h2 {
  text-align: center;
}

.stay-produktiv {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.stay-produktiv img {
  max-width: 300px;
}

.stay-produktiv h1 {
  text-align: start;
  width: 40%;
}

.stay-produktiv a {
  text-decoration: underline;
  color: #65e2d9;
}

.stay-produktiv .stay-produktiv_text {
  max-width: 40%;
}

.stay-produktiv .stay-produktive_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */